<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Follow Users</title>
</head>
<body class="bg-zinc-800 h-screen overflow-hidden">
    <nav class="flex items-center justify-between px-4 w-full h-24 bg-zinc-900">
     <div class="flex items-center gap-3 text-white">
         <div class="h-16 w-16">
             <img class="object-cover rounded-full aspect-square" src="data:image/jpeg;base64, <%=user.pic.toString('base64') %>" alt="" srcset="">
         </div>
         <a href="/myprofile">
            <%= user.name %>
         </a>
     </div>
     <form class="relative mr-20" action="/profiles/search" method="get">
         <input class="bg-transparent outline-none p-2 border-2 border-zinc-700 text-white" type="text" name="search" value="" id="search" placeholder="Search User">
         <input class="cursor-pointer bg-transparent p-2 border-2 border-l-0 border-zinc-700 text-white absolute" type="submit" value="Search">
     </form>
<div>
    <a class="text-white px-6 py-2 border-2 border-zinc-700 bg-gray-800" href="/logout">logout</a>
    <a class="text-white px-6 py-2 border-2 border-zinc-700 bg-gray-800" href="/dashboard">Home</a>
</div> 
</nav>
    <div class="flex justify-around px-2 w-full bg-zinc-800 h-5/6 overflow-y-hidden">
        <div></div>
        <div class="w-4 h-100 border-r-2 border-zinc-950 mr-2"></div>
     <div class="flex flex-col h-[94%] overflow-y-scroll px-10">
        <% users.forEach(function(searchUser) { %>
         <div class="flex gap-20 mb-5 mt-4 items-center">
            <div class="flex gap-4 items-center">
                <div class="h-16 w-16">
                    <img class="object-cover rounded-full aspect-square" src="data:image/jpeg;base64, <%=searchUser.pic.toString('base64') %>" alt="" srcset="">
                </div>
                <a class="text-2xl text-white" href="/view/user/<%= searchUser._id %>">
                    <%= searchUser.name %>
                 </a>
            </div>
            <a class="text-white px-6 py-2 border-2 border-zinc-700 bg-gray-800" href="/user/follow/<%= searchUser._id %>">
                <%= user.following.indexOf(searchUser._id) === -1 ? "Follow" : "Unfollow" %>
            </a>
           
         </div>
        <% }) %>
     </div>
     <div class="w-4 h-100 border-r-2 border-zinc-950 mr-2"></div>
     <div></div>

    </div>
  
</body>
</html>